# python
.vscode
*__pycache__

# jupyter
*/*.ipynb_checkpoints
*.ipynb_checkpoints

# data
out
data/*
FRNN
checkpoints
wandb
playground

# conda
env
env/*

# binaries
ext
ext/*
FRNN/*
FRNN

# media
*.ply
*/*.ply
*.png
*.jpg
*/*.jpg
*.obj
*.mp4
*.pth
*/*.pth